@using PagedList.Mvc;
@using PagedList;
@using InventoryManagerment.Models.EF;
@model IPagedList<InventoryManagerment.ViewModel.RefundViewModel>

@{
    //Indedx Refund STAFF
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new InventoryDbContext();
    long GetProductQuantity(string Code)
    {
        var list = db.RefundDetails.Where(x => x.RefundCode == Code).ToList();
        return list.Count;
    }
    string GetProductPrice(string Code)
    {
        var list = db.RefundDetails.Where(x => x.RefundCode == Code).ToList();
        if (list == null)
        {
            return "0";
        }
        else
        {
            decimal sum = 0;
            foreach (var item in list)
            {
                sum += (item.Price * item.Quantity);
            }
            return InventoryManagerment.Common.Functions.NumberToMoney(sum.ToString());
        }

    }
    string GetNote(string note)
    {
        if (note == " " || note == null)
        {
            return "Không có ghi chú";
        }
        int z;
        if (note.Length > 20)
        {
            for (z = 20; z <= note.Length; z++)
            {
                if ((char)note[z] == ' ')
                {
                    break;
                }
                else { continue; }
            }
            return note.Substring(0, z) + " ...";
        }
        else
        {
            return note;
        }

    }
    long GetID(string code)
    {
        return db.Refunds.Where(x => x.Code == code).FirstOrDefault().ID;
    }
}
<!-- Modal -->
<div class="modal fade" id="refundDetail" tabindex="-1" role="dialog" aria-labelledby="ImportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="ImportModalLabel">Chi tiết sản phẩm</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="text-start">Ngày trả:<p>...</p></h6>
                <h6 class="text-start">Tên khách hàng: <p>...</p></h6>
                <h6 class="text-start">Nhân viên lập: <p>...</p></h6>
                <h6 class="text-start">Ghi chú: <p>...</p></h6>
                <h6 class="text-start">Danh sách sản phẩm</h6>
                <table id="tableInvoice" class="table align-items - center mb - 0">
                    <thead>
                        <tr>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tên sản phẩm</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Số lượng</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Giá đơn vị</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <blockquote id="totalPrice" class="blockquote text-center"><p class="h6 text-start">&nbsp;Tổng tiền: <span>...</span></p></blockquote>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="row bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <div class="col-6">
                        <h6 class="mb-0 text-white text-capitalize ps-3">Danh sách phiếu trả</h6>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn bg-gradient-dark mb-0 text-white text-capitalize" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="material-icons">search</i></a>
                        <a class="btn bg-gradient-dark mb-0 text-white text-capitalize" href="/Refund/Create"><i class="material-icons text-sm">add</i></a>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="px-2 mb-1">
                    <!-- Modal -->
                    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchtitleModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-normal" id="searchtitleModal">Tìm kiếm phiếu trả</h5>
                                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("Index", "ListReceiptRefund", method: FormMethod.Get))
                                    {
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-static mb-4">
                                            <textarea placeholder="Nhập ghi chú" type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="note">@ViewBag.note</textarea>
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            <input placeholder="Nhập tên sản phẩm" type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" value="@ViewBag.nameProduct" name="nameProduct">
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            <input type="date" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" value="@ViewBag.dateRefund" id="dateRefund" name="dateRefund">
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            <select id="status" name="status" class="form-control">
                                                <option value="2">Tất cả</option>
                                                <option value="1">Đã duyệt</option>
                                                <option value="0">Chưa duyệt</option>
                                            </select>
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            <select id="pageSize" name="pageSize" class="form-control">
                                                <option value="10">Số dòng hiển thị</option>
                                                @for (int a = 15; a <= 100; a += 5)
                                                {
                                                    <option value="@a">@a</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                        <button id="btnSearch" type="submit" class="btn btn-icon btn-3 btn-outline-primary input-group-outline input-group-text">
                                            <span class="btn-inner--icon"><i class="material-icons">search</i></span>
                                            <span class="btn-inner--text">Tìm kiếm</span>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive p-0">
                    <table id="tbl_Export" class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">STT</th>
                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Ngày xuất</th>
                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tên khách hàng</th>
                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tên người lập</th>
                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Số sản phẩm nhập</th>
                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tổng tiền</th>
                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Ghi chú</th>
                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Trạng thái</th>
                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1; }
                            @foreach (var item in Model)
                            {
                                <tr id="row_@GetID(item.Code)">
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">&nbsp;&nbsp;&nbsp;&nbsp;@i</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <h6 class="mb-0 text-sm">@item.Time.ToString("dd/MM/yyyy | HH:mm")</h6>
                                    </td>
                                    <td class="align-middle text-center">
                                        <h6 class="mb-0 text-sm">@item.CustomerName</h6>
                                    </td>
                                    <td class="align-middle text-center">
                                        <h6 class="mb-0 text-sm">@item.NameUser</h6>
                                    </td>
                                    <td class="align-middle text-center">
                                        <h6 class="mb-0 text-sm">@GetProductQuantity(item.Code) <a id="@item.Code" onclick="showDetail(this)" class="btn btn-link text-dark px-3 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#refundDetail"><i class="material-icons text-sm me-2">visibility</i>XEM</a></h6>
                                    </td>
                                    <td class="align-middle text-center">
                                        <h6 class="mb-0 text-sm">@GetProductPrice(item.Code)</h6>
                                    </td>
                                    <td class="align-middle text-center">
                                        <h6 class="mb-0 text-sm">@GetNote(item.Note)</h6>
                                    </td>
                                    <td class="align-middle text-center">
                                        @if (item.Status)
                                        {
                                            <span class="badge bg-gradient-success">Đã duyệt</span>
                                        }
                                        else
                                        {
                                            <h6 class="mb-0 text-sm"><span class="badge bg-gradient-warning">Chưa duyệt</span></h6>
                                        }
                                    </td>
                                    @if (item.Status == false)
                                    {
                                        <td class="align-middle text-center">
                                            <a href="/ListReceiptRefund/Edit/@GetID(item.Code)"><i class="material-icons">edit_note</i></a>
                                            <a class="delete" href="#" id="@GetID(item.Code)"><i class="material-icons">delete</i></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="align-middle text-center">
                                        </td>
                                    }
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                    <div style="text-align:center">
                        <div id="listPagination" style="display:inline-block">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.searchString, note = ViewBag.note, nameProduct = ViewBag.nameProduct, nameStaff = ViewBag.nameStaff, status = ViewBag.status, pageSize = ViewBag.pageSize }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section jsFooter{
    <script>
        $(document).ready(function () {
            $('a.delete').click(function () {
                var id = $(this).attr('id');
                $.confirm({
                    title: 'Thông báo',
                    content: 'Bạn có chắc muốn xóa phiếu trả này ?',
                    buttons: {
                        confirm:
                        {
                            text: 'Đồng ý',
                            key: ['enter'],
                            action: function () {
                                var row = '#row_' + id;
                                $.ajax({
                                    type: "POST",
                                    url: "/ListReceiptRefund/Delete/",
                                    data: JSON.stringify({ id: id }),
                                    contentType: "application/json; charset=utf8",
                                    success: function () {
                                        $(row).remove();
                                        var obj = $.alert({
                                            title: 'Thông báo',
                                            content: 'Xóa phiếu xuất thành công',
                                        });
                                        setTimeout(function () {
                                            obj.close();
                                        }, 1500);
                                    },
                                    error: function () {
                                        $.alert('Xóa thất bại');
                                    }
                                });
                            }
                        },
                        cancel: {
                            text: 'Hủy',
                            action: function () {
                            }
                        }
                    }
                });
            });
            addClasslist();
        });
        function addClasslist() {
            $('#listPagination ul li').each(function () {
                $(this).addClass('page-item');
                $(this).find('a').addClass('page-link')
            });
        }
        function showDetail(element) {
            var code = $(element).attr('id');
            $('#tableInvoice').find('tbody').html("");
            $.ajax({
                url: '/Refund/GetDataRefund/',
                type: 'GET',
                data: { code: code },
                success: function (result) {
                    result.forEach(item => {
                        var htmlDetail = '<tr><td class="align-middle text-center"> <span class="text-secondary text-xs font-weight-bold">' + item.ProductName + '</span></td>"'
                            + '<td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">' + item.Quantity + '' + item.UnitName + '</span></td>'
                            + '<td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">' + formatNumber(item.Price, '.', ',') + '</span></td>'
                            + '<td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">' + formatNumber((item.Price * item.Quantity), '.', ',') + '</span></td></tr>';
                        $('#tableInvoice').find('tbody').append(htmlDetail);
                    });
                    $('#refundDetail h6:eq(0)').find('p').html(result[0].Time);
                    $('#refundDetail h6:eq(1)').find('p').html(result[0].CustomerName);
                    $('#refundDetail h6:eq(2)').find('p').html(result[0].Staff);
                    if (result[0].Note.trim().length == 0) {
                        $('#refundDetail h6:eq(3)').find('p').html('Không có ghi chú');
                    }
                    else {
                        $('#refundDetail h6:eq(3)').find('p').html(result[0].Note);
                    }
                    $('#totalPrice p').find('span').html(formatNumber(result[0].Total, '.', ',') + ' VNĐ');
                }
            });
        }
        function formatNumber(nStr, decSeperate, groupSeperate) {
            nStr += '';
            x = nStr.split(decSeperate);
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + groupSeperate + '$2');
            }
            return x1 + x2;
        }

    </script>
}
