@model InventoryManagerment.Models.EF.Package
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h6>@TempData[InventoryManagerment.Common.CommonConstants.PAGE_NAME]</h6>
    @using (Html.BeginForm("Edit", "Package", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <div class="input-group input-group-static my-3">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Create" class="btn btn-primary">Cập nhật cách đóng gói</button>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Quay trở lại danh sách", "Index")
    </div>
</div>